:root {
    --clr-bright-green: #00FF00; /* RGB (0, 255, 0) */
    --clr-light-green: #18FF6D; /* RGB (24, 255, 109) */
    --clr-medium-green: #009862; /* RGB (0, 152, 98) */
    --clr-forest-green: #285238; /* RGB (40, 82, 56) */
    --clr-yellow-green: #9ACD32; /* RGB (154, 205, 50) */
    --clr-chartreuse: #ADFF2F; /* RGB (173, 255, 47) */
    --clr-white: #FFFFFF;
    --clr-black: #000000;
}
  .class { 
	font-family: Consolas,monaco,monospace; 
}
* {
    font-family: Consolas, monaco, monospace;
}

body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: var(--clr-bright-green);
    background-color: var(--clr-black);
    
}
@keyframes typing {
    from { width: 0; visibility: visible; }
    to { width: 85ch; visibility: visible;} 
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var(--clr-bright-green); }
}

.line {
    animation: typing 4s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
    animation-fill-mode: forwards;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid var(--clr-bright-green);
    width: 85ch; 
    visibility: hidden; 
}

.line:nth-of-type(1) {
    animation-delay: 4s;
}
.line:nth-of-type(2) {
    animation-delay: 8s;
}
.line:nth-of-type(3) {
    animation-delay: 12s;
}
.line:nth-of-type(4) {
    animation-delay: 16s;
}
.line:nth-of-type(5) {
    animation-delay: 20s;
}
main {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    align-self: center;
}

header{
    background-image: url('../images/hacker2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header h1{
    background-color: var(--clr-black);
    color: var(--clr-bright-green);
}
header, footer {
    color: var(--clr-white);
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: var(--clr-bright-green);
    background-color: var(--clr-black);
}

#urls {
    color:var(--clr-light-green);
}
#urls:visited {
    color:var(--clr-forest-green);
}
.github{
    text-align: center;
    background-position: center;
}


.hero, .about, .contact, .background, .project-list {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
}
.contact a{
    color:var(--clr-light-green);
}
.contact a:visited{
    color:var(--clr-forest-green);
}

.hero {
    background-color: var(--clr-light-gray);
    border-radius: 8px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin-top: 1em;
}


.contact input, .contact textarea {
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid var(--clr-bright-green);
    background-color:var(--clr-black);
    color:var(--clr-bright-green);
    border-radius: 4px;
}

.contact button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: var(--clr-black);
    color:var(--clr-bright-green);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact button:hover {
    background-color: var(--clr-bright-green);
    color: var(--clr-black);
}
img {
    width: 60%; 
    height: auto; 
    display: block; 
    margin-top: 2rem;

}
.project {

    padding: 1rem 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
@media(min-width:400px){
    main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .project:first-child{
        grid-column: span ;
    }
    .project:nth-child(4){
        grid-column: span 2;
    }
    .project:nth-child(5){
        grid-column: span 3;
    }
}
@media(min-width:900px){
    main{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .project:first-child{
        grid-column: span 2;
    }
    .project:nth-child(4){
        grid-column: span 2;
    }
    .project:nth-child(5){
        grid-column: span 3;
    }
}
#dogfooter{
    width: 10%; 
    height: auto; 
    display: block; 
    margin: 0 auto;

}
